{% extends "base.view.twig" %}

{% block main %}
    <h1 class="balneario">{{ beachResort.fields.name }}</h1>
    <section>
        <p>{{ beachResort.fields.description }}</p>
        <p>Ciudad: {{ city.fields.name }}</p>
        <ol>Servicios:
            {% for service in service_colection %}
                <li>{{ service.name }}</li>
            {% endfor %}
        </ol>
    </section>
    <section class="reserveUnit">
        <form id="reservationForm">
            <fieldset id = "reservation">
                <p>
                    <label>
                        Llegada:
                    </label>
                    <input type="date" id="startDate" name="startDate" {% if start_date is not null %}value="{{ start_date }}" {% endif %}/>
                </p>
                <p>
                    <label>
                        Salida:
                    </label>
                    <input type="date" id="endDate" name="endDate" {% if end_date is not null %}value="{{ end_date }}" {% endif %}/>
                </p>
                <object  type="image/svg+xml" data="./../imagenes/beachResorts/{{ beachResort.fields.id }}/complejo.svg" id="svgImage"></object>

                <p id="lastUnit"></p>
                <p id="ticket"></p>

                <input type="button" value="Continuar" class="bContinuar" id="continueBtn"></input>

            
            </fieldset>
            
            
        </form>

    </section>
    
{% endblock %}

{% block javascript %}
<script>
   const beachResortId = {{ beachResort.fields.id }};
</script>

{% endblock %}
