{% extends "base.view.twig" %}

{% block main %}
    <main>
        <section class="reserva">
                <div class="ciudad-container">
                    <input type="text" id="ciudad" name="ciudad" autocomplete="off" class="selectCiudades" placeholder="Ingrese una ciudad">
                    <ul id="cities-list" class="cities-list"></ul>
                    <input type="hidden" id="cityId" name="cityId" value="">
                </div>
                <a href="#" class="bReserva">Buscar</a>
        </section>

        <h1 class="titulo">Bienvenidos al Paraíso Playero</h1>      

        <section class="center">
            <section class="carousel"></section>
        </section>

        <section class= "card-container">
            <h2>Ciudades</h2>
            {% for city in cities   %}
             <a href="/beachResortsCity?id={{ city.fields.id }}">
                <article class="card">    
                    <h3>{{ city.fields.name }}</h3>
                    <figure>
                        <img src="{{ city.fields.img }}" alt="{{ city.fields.name }}" >
                    </figure>
                    <p>Balnearios: 4</p>
                </article> 
                 </a>
            {% endfor %}                  
        </section>

    </main>
{% endblock %}

{% block javascript %}
    <script>
        const ciudades = {{ cities | json_encode | raw }};
    </script>
{% endblock %}

