{% extends "base.view.twig" %}

{% block main %}
<h1>{{ titulo }}</h1>
<section id="beachResortData" class="ticket">
  <label>Numero de reserva: {{ reservationId }}</label>
  <label>Balneario: {{ data.beachResortName }}</label>
  <label>Fecha desde: {{ data.startDate }}</label>
  <label>Fecha Hasta: {{ data.endDate }}</label>
   {% for unit in data.selectedUnits %}
  <label>Unidad: {{ unit }}</label>
   {%endfor%}
  <label>Precio:  ${{ data.reservationAmount }}</label>        

 <div id="wallet_container">
    </div>
    <script>
      const mp = new MercadoPago('APP_USR-8e3ffee4-3787-49e9-817e-a6b76c0dcc5c', {
        locale: 'es-AR'
      });

      mp.bricks().create("wallet", "wallet_container", {
        initialization: {
            preferenceId: "{{preference.id}}",
        },
      });
  </script>

</section>

{% endblock main %}
