{% extends "base.view.twig" %}

{% block main %}
<h1>{{ titulo }}</h1>
<section id="beachResortData" class="ticket">
  <label>Numero de reserva: {{ reservationId }}</label>
  <label>Balneario: {{ data.beachResortName }}</label>
  <label>Fecha desde: {{ data.startDate }}</label>
  <label>Fecha Hasta: {{ data.endDate }}</label>
   {% for unit in data.selectedUnits %}
  <label>Unidad: {{ unit }}</label>
   {%endfor%}
  <label>Precio:  ${{ data.reservationAmount }}</label>
  <form  method="post" action="/makePayment">
    <fieldset id = "reservation">
      <input type="hidden" name="reservationAmount" value="{{ data.reservationAmount }}" />
      <input type="submit"  id="mercadoPago" value = "Pagar"></input>
    </fieldset>
  </form>            
  

</section>

{% endblock main %}

