{% extends "base.view.twig" %}
{% block main %}
        <h1>{{ titulo }}</h1>
        <section>
                <section>
                        <a class="bNew" href="/newbeachresort">Nuevo Balneario</a>
                </section> 
                <table class="tents-table">
                        <thead>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                        </thead>
                        <tbody>
                                {% for beachResort in beachResorts %}
                                        <tr class="ABM row-{{ loop.index is odd ? "odd" : "even" }}">
                                                <td class="center">{{ beachResort.fields.id }}</td>
                                                <td>{{ beachResort.fields.name }}</td>
                                                <td id="ciudad">{{ beachResort.fields.city }}</td>
                                                <td class="center">{{ beachResort.fields.state }}</td>
                                                <td class="center">Ver</td>
                                        </tr>
                                {% endfor %}                            
                        </tbody>
               </table> 
        </section>
{% endblock %}