{% extends "base.view.twig" %}
{% block main %}
    <h1>{{ titulo }}</h1>
    <section class="ticketPadre">
        <section class="ticket">
            <label>Fecha: {{ reservation.fields.date }}</label>
            <label>Desde: {{ reservation.fields.from }}</label>
            <label>Hasta: {{ reservation.fields.to }}</label>
            <label>Nombre: {{ reservation.fields.firstName }}</label>
            <label>Apellido: {{ reservation.fields.lastName }}</label>
            <label>Email: {{ reservation.fields.email }}</label>
            <label>Teléfono: {{ reservation.fields.phone }}</label>
            <label>Monto: {{ reservation.fields.reservationAmount }}</label>
            <label class="price-label">Pagada: {% if reservation.fields.payed == 1 %}Si{% else %}No{% endif %}</label>
            {% if tents > 0 %}
                Carpas: {{ tents }}
            {% endif %}
            {% if parasol > 0 %}
                Sombrillas: {{ parasol }}
            {% endif %}
        </section>
    </section>
{% endblock main %}

{% block footer %}{% endblock %}
