{% extends "base.view.twig" %}
{% block main %}
    <h1>{{ titulo }}</h1>
    <section class="reservationData">
        <fieldset class="datosReserva">
            <p>
                Fecha: {{ reservation.fields.date }} <br>
                Desde: {{ reservation.fields.from }} <br>
                Hasta: {{ reservation.fields.to }} <br>
                Nombre: {{ reservation.fields.firstName }} <br>
                Apellido: {{ reservation.fields.lastName }} <br>
                Email: {{ reservation.fields.email }} <br>
                Teléfono: {{ reservation.fields.phone }} <br>
                Monto: {{ reservation.fields.reservationAmount }} <br>
                Pagada: {% if reservation.fields.payed == 1 %}Si{% else %}No{% endif %} <br> 
                {% if tents > 0 %}
                    Carpas: {{ tents }}
                {% endif %}
                {% if parasol > 0 %}
                    Sombrillas: {{ parasol }}
                {% endif %}
            </p>
        </fieldset>  
    </section>
{% endblock main %}