{% extends "base.view.twig" %}

{% block main %}
    <main>
        <section class= "card-container">
            <h2>Balnearios en {{ city.fields.name }}</h2>
            <input type="hidden" id="cityLat" name="cityLat" value="{{ city.fields.lat }}">
            <input type="hidden" id="cityLon" name="cityLon" value="{{ city.fields.lon }}">

            <section style="width:100%; height:300px" class="map" id="map"></section> 

            {% for beachResort in beachResorts %}
                <a href="/beachResort/{{ beachResort.id }}">
                    <article class="card">    
                        <h3>{{ beachResort.name }}</h3>
                        <figure>
                            <img src="./../imagenes/beachResorts/{{ beachResort.id }}/beachresort.jpg" alt="beach resort">
                        </figure>
                        <p>{{ beachResort.description }}</p>
                    </article> 
                </a>
            {% endfor %}                  
        </section>
    </main>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const latitud = document.getElementById('cityLat').value;
            const longitud = document.getElementById('cityLon').value;
        
            // Create a map centered on City, Buenos Aires, Argentina
            var map = L.map('map').setView([latitud, longitud], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);

            // Convertir los datos de Twig en un array de objetos JavaScript
            var beachResorts = {{ beachResorts|json_encode|raw }};
         
            // Agregar markers para cada establecimiento
            beachResorts.forEach(function(beachResort) {
                if ((beachResort.lat !== null) || (beachResort.lon !== null)) {
                    console.log(beachResort.lat);
                    console.log(beachResort.lon);
                    var marker = L.marker([beachResort.lat, beachResort.lon]).addTo(map);
                    marker.bindPopup(`<b>${beachResort.name}</b><br>${beachResort.description}`);
                }
            });
        });
    </script>
{% endblock %}
