{% extends "base.view.twig" %}

{% block main %}
    <h1 class="balneario">{{ beachResort.fields.name }}</h1>
    <section>
        <p>{{ beachResort.fields.description }}</p>
        <p>Ciudad: {{ city.fields.name }}</p>
        <ol>Servicios:
            {% for service in service_colection %}
                <li>{{ service.name }}</li>
            {% endfor %}
        </ol>
    </section>
    <section class="reserveUnit">
        <form>
            <fieldset>
                <p>
                    <label>
                        Llegada:
                    </label>
                    <input type="date" id="fecha_entrada" name="fecha_entrada" {% if start_date is not null %}value="{{ start_date }}" {% endif %}/>
                </p>
                <p>
                    <label>
                        Salida:
                    </label>
                    <input type="date" id="fecha_salida" name="fecha_salida" {% if end_date is not null %}value="{{ end_date }}" {% endif %}/>
                </p>
                <p>
                    <input type="button" value="Buscar" class="bBuscar"></input>
                </p>	
            </fieldset>
        </form>
        <img src="./../imagenes/complejo.svg" alt="carpa">
    </section>
{% endblock %}

{% block javascript %}

    const beachResortId = {{ beachResort.fields.id }};

{% endblock %}
